<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team.art.mapper.NoticeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.team.art.entity.NoticeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_use" property="isUse" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, content,is_use,is_del
  </sql>
  <select id="selectByid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from notice
    where id = 1;
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.team.art.entity.NoticeInfo" >
    update notice
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = 1;
  </update>
 
</mapper>